@inherits LayoutComponentBase
<div class="d-flex">
    <div class="w-25" style="min-height: 100vh;">
        <ul>
            <li>Menu1</li>
            <li>Menu1</li>
        </ul>
    </div>
    @Body
</div>